:root {
    --color-coolBlue: rgb(97, 189, 226);
}

body {
    background-color: #F3F3F3;
    color: slategrey;
}

a {
    color: var(--color-coolBlue);
}

a:hover {
    color: var(--color-coolBlue);
    text-decoration: none;
}

.searchBox {
    margin-top: 20px;
}

.cityName span {
    color: var(--color-coolBlue);
}

.weatherImage {
    /* display: inline-block; */
    width: 50px;
}

.weatherDescription {
    text-transform: capitalize;
}

.searchError {
    color: rgb(201, 73, 73);
    text-align: center;
    text-transform: capitalize;
}

#top { 
    margin-top: 100px;
}

#result {
    margin-top: 50px;
}

#footer {
    margin: 50px;
}